.Home {
  display: flex;
}

.section-1,
.section-2,
.section-3 {
  flex: 1;
}

.Home .section-1 .content-section {
  margin-left: 80px;
  margin-top: 150px;
}

.Home .section-1 .content-section .name h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

.Home .section-1 .content-section .line hr {
  background: #e11f1f;
  color: #e11f1f;
  border-color: #e11f1f;
  height: 2px;
  width: 90px;
  margin-left: 0;
}

.Home .section-1 .content-section .socmed {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 0px;
  color: #aea7a7;
}

.Home .section-1 .content-section .contact-me .button {
  align-items: center;
  background-color: #1e1e1e;
  border: 2px solid #e11f1f;
  box-sizing: border-box;
  color: #e11f1f;
  cursor: pointer;
  display: inline-flex;
  fill: #e11f1f;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Home .section-2 {
  height: 700px;
}

.Home .section-2 .content-section img {
  margin-top: 30px;
}

.Home .section-3 .content-section {
  margin-left: 0px;
  margin-right: 50px;
  margin-top: 150px;
}

.Home .section-3 .content-section h5 {
  color: #e11f1f;
}

.section-3 h2 {
  color: #ffffff;
}

.Home .section-3 .content-section h4 {
  margin-right: 50px;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  color: #aea7a7;
}

/* Responsive */
/* 
@media (max-width: 600px) {
  .button {
    min-width: 170px;
  }

  .Home {
    display: flex;
    flex-direction: column;
  }

  .Home .section-3 .content-section {
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 150px;
  }

  .section-1,
  .section-2,
  .section-3 {
    display: none;
    z-index: -1;
  }
} */
